body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

section {
    max-width: 100%;
    max-height: 100%;
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.back {
  background-image: url(../img/back.png);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  width: 20%;
  margin: 1.5%;
}

#inicioSesion {
  margin-top: 20%;
  margin-bottom: 20%;
}

#registroTitle {
  margin-top: 10%;
  margin-bottom: 10%;
}

#user {
  margin-bottom: 10%;
}

#pwd {
  margin-bottom: 10%;
}

#crearEventoTitle {
  margin-top: 0;
}

#crearEvento {
  margin-top: 5%;
}

.phoneload {
	background-image: url("../img/splash.gif");
  background-size: contain;
  background-color: skyblue;
}

.login {
	background-size: cover;
}

.registro {
	background-size: cover;
}

.eventos {
	background-size: cover;
}

#registrarse {
  margin-top: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 4%;
}

.btn-primary {
  position: relative;
}

#entrar {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 10%;
}

#claveOculta {
  display: none;
}

#cancha {
  background-image: url("../img/cancha.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  max-width: 100%;  
  position: relative; 
  margin-bottom: 5%; 
}

#btnAceptar {
  margin-bottom: 6%; 
}

.punto {
  background-image: url("../img/punto.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 10%;
  width: 15%;
  position: absolute;
}

.selected {
  filter: opacity(0.5);
}

#p1 {
  top: 20%;
  left: 25%;
}

#p2 {
  top: 20%;
  left: 42%;
}

#p3 {
  top: 20%;
  left: 60%;
}

#p4 {
  top: 38%;
  left: 25%;
}

#p5 {
  top: 38%;
  left: 42%;
}

#p6 {
  top: 38%;
  left: 60%;
}

#p7 {
  top: 52%;
  left: 60%;
}

#p8 {
  top: 52%;
  left: 42%;
}

#p9 {
  top: 52%;
  left: 25%;
}

#p10 {
  top: 70%;
  left: 60%;
}

#p11 {
  top: 70%;
  left: 42%;
}

#p12 {
  top: 70%;
  left: 25%;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#tresLineas {
   position: absolute;
   left: 0.5rem;
   top: 0.5rem;
}

/*CARD*/
.card {
	display: flex;
    flex-direction: column;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
}

.card:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  	padding: 2px 16px;
}
.checked {
  color: orange;
}